*~
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:34:24,972 ; entered run_sync()
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:34:24,973 ; started async run()
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:35:50,231 ; WebSocket: received {"mi": "351fdf49-2aef-4d38-8df8-8e569d5453ae", "v": 0, "cmd": "INSTANCE_LAUNCH", "ct": "sshtun", "pr": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQClD9Ozu8Ykv88DyQORfuq2wfQplBtkRYyXKNkf/R3ghnbofpZlPcXwYfvtw/r/NeIrbaKHyM/2+451wjQHbAyTccjacBB8AjjHU57LBjMzzME0+Tg1Cd/Pok7FwG49HeXZMsOIl6ncWVFuE58+ZwEeHOvN9hMLdi/DvOYGjJK3djTaHWW6yugvuhMXKvJjYFsSlYdtb4llB9Qn7sBIEO69MYYAW4oFXayELv2wSZjQKMwky0GLypnEoUTnJd3B+weYcm0Afd/LIwgdu5CW+Iv+Kec4A8g1+vQs+tk4DRwgrejLtGdw07LRtw2AvYbsJMkcQ7BuH1GkpmfDeXP4lekF rra@apiw\n", "id": "e0b9de7b-4e13-4152-8312-a0d6b30dc990"}
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:35:50,232 ; in response to INSTANCE_LAUNCH, sending ACK
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:35:50,233 ; subprocess: ['docker', 'run', '-d', '-h', 'rrc', '--name', 'rrc', '--device=/dev/net/tun:/dev/net/tun', '--cap-add=NET_ADMIN', 'hs.rerobots.net/generic:latest']
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:35:51,839 ; attempting to get IPv4 address of container... (entered get_container_addr())
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:35:51,865 ; found address: 172.17.0.2
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:35:51,865 ; attempting to get hostkey from container... (entered get_container_hostkey())
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:35:52,993 ; found hostkey!
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:35:52,994 ; subprocess: ['docker', 'exec', 'rrc', '/bin/bash', '-c', 'rm /etc/ssh/ssh_host_*']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:35:53,046 ; subprocess: ['docker', 'exec', 'rrc', '/usr/bin/ssh-keygen', '-A']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:35:53,414 ; subprocess: ['docker', 'exec', 'rrc', '/bin/mkdir', '-p', '/root/.ssh']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:35:53,519 ; subprocess: ['docker', 'cp', '/tmp/tmpsd_lj8dz', 'rrc:/root/.ssh/authorized_keys']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:35:53,684 ; subprocess: ['docker', 'exec', 'rrc', '/bin/chown', '0:0', '/root/.ssh/authorized_keys']
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:35:53,736 ; attempting to associate with a tunnel hub
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:35:53,737 ; sending TH_SEARCH
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:36:05,498 ; WebSocket: received {"mi": null, "v": 0, "hostkey": "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKX0xcf6V1Si3yllfVUm7MzmdoNGMMEMOUSxOXR3IQYIzZVpbfNkVbOGhn2w8/Yh4xkyhgFNDbTZxNFItaU9jGw=", "cmd": "TH_ACCEPT", "ipv4": "10.50.238.87", "port": 2210, "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "thport": 3210, "id": "e0b9de7b-4e13-4152-8312-a0d6b30dc990", "thuser": "root"}
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:36:05,499 ; received TH_ACCEPT for th 09fe8097-dd22-4dd5-9910-7067991bab50 at 10.50.238.87
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:36:05,500 ; associated with tunnel hub 09fe8097-dd22-4dd5-9910-7067991bab50
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:36:05,500 ; opening ssh tunnel from port 2210 of 10.50.238.87 to container at 172.17.0.2
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:36:05,508 ; marked instance as READY
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:37:14,844 ; WebSocket: received {"mi": "c52eea20-187a-4907-a673-e6eacdecf659", "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "v": 0, "cmd": "TH_PING", "id": "01083923-ea7d-4336-8e04-6223150405d6"}
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:37:14,845 ; WebSocket: sent response: {'v': 0, 'thid': '09fe8097-dd22-4dd5-9910-7067991bab50', 'id': '01083923-ea7d-4336-8e04-6223150405d6', 'mi': 'c52eea20-187a-4907-a673-e6eacdecf659', 'cmd': 'ACK'}
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:40:16,006 ; WebSocket: received {"mi": "d8c38dd4-8a22-4cc2-8590-cc91a8160e47", "v": 0, "cmd": "INSTANCE_DESTROY", "id": "e0b9de7b-4e13-4152-8312-a0d6b30dc990"}
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:42:15,768 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:44:25,854 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:46:35,952 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:48:51,046 ; tunnel process unexpectedly exited with returncode 255
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:49:43,125 ; WebSocket: received {"mi": "cb2ad485-1a9d-418e-8b4d-7f421febfa90", "v": 0, "cmd": "INSTANCE_LAUNCH", "ct": "sshtun", "pr": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDrA+XsWSWYZVoGIAkQENYnXODtSuJeV2pmC74m0sRrim5hX1Ff1+6WvKHkZ9egH2I45JHFyw9eTSSh+ajajnpFC2Q4n1QApjO5aKL0EJX1qxSKPS9/ta5F7seVqnRoQxxC+uNjLw9Vbx7qIUu19/qY0s1W3ejEmwOUAzn84miLJy/0cpz1IZLw5WL+jJ/E4WlV9TJ1QbT6/7WJCDFPVn1+MV2kdHXNLbWorFGQrFIFcftkKwN1BjaOrLbz69jyq+wNMKaM5p0jyhICdXc+6DnIw9otW4ywNTqU4CXTcZO4qsKEpnWOruAjO8laSE60/B8PyFBXxKH+T4DnjBXb6zEr rra@apiw\n", "id": "2eec62cc-f94f-4308-9374-aba09cdb48c8"}
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:49:43,126 ; in response to INSTANCE_LAUNCH, sending ACK
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:43,127 ; subprocess: ['docker', 'run', '-d', '-h', 'rrc', '--name', 'rrc', '--device=/dev/net/tun:/dev/net/tun', '--cap-add=NET_ADMIN', 'hs.rerobots.net/generic:latest']
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:45,099 ; attempting to get IPv4 address of container... (entered get_container_addr())
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:45,120 ; found address: 172.17.0.2
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:45,121 ; attempting to get hostkey from container... (entered get_container_hostkey())
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:46,227 ; found hostkey!
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:46,228 ; subprocess: ['docker', 'exec', 'rrc', '/bin/bash', '-c', 'rm /etc/ssh/ssh_host_*']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:46,302 ; subprocess: ['docker', 'exec', 'rrc', '/usr/bin/ssh-keygen', '-A']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:46,600 ; subprocess: ['docker', 'exec', 'rrc', '/bin/mkdir', '-p', '/root/.ssh']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:46,687 ; subprocess: ['docker', 'cp', '/tmp/tmpm5efti45', 'rrc:/root/.ssh/authorized_keys']
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:46,856 ; subprocess: ['docker', 'exec', 'rrc', '/bin/chown', '0:0', '/root/.ssh/authorized_keys']
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:46,926 ; attempting to associate with a tunnel hub
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:46,927 ; sending TH_SEARCH
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:49:57,950 ; WebSocket: received {"mi": null, "v": 0, "hostkey": "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKX0xcf6V1Si3yllfVUm7MzmdoNGMMEMOUSxOXR3IQYIzZVpbfNkVbOGhn2w8/Yh4xkyhgFNDbTZxNFItaU9jGw=", "cmd": "TH_ACCEPT", "ipv4": "10.50.238.87", "port": 2210, "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "thport": 3210, "id": "2eec62cc-f94f-4308-9374-aba09cdb48c8", "thuser": "root"}
hardshare.core (DEBUG) (pid: 16225); 2018-08-26 20:49:57,951 ; received TH_ACCEPT for th 09fe8097-dd22-4dd5-9910-7067991bab50 at 10.50.238.87
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:57,952 ; associated with tunnel hub 09fe8097-dd22-4dd5-9910-7067991bab50
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:57,952 ; opening ssh tunnel from port 2210 of 10.50.238.87 to container at 172.17.0.2
hardshare.core (INFO) (pid: 16225); 2018-08-26 20:49:57,957 ; marked instance as READY
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:06,143 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:11,153 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:16,158 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:21,169 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:26,181 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:31,189 ; tunnel process unexpectedly exited with returncode 255
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:51:35,670 ; WebSocket: received {"mi": "54dfdb9b-a2ff-40a6-96af-9c7c6feddba8", "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "v": 0, "cmd": "TH_PING", "id": "01083923-ea7d-4336-8e04-6223150405d6"}
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:51:35,671 ; WebSocket: sent response: {'v': 0, 'thid': '09fe8097-dd22-4dd5-9910-7067991bab50', 'id': '01083923-ea7d-4336-8e04-6223150405d6', 'mi': '54dfdb9b-a2ff-40a6-96af-9c7c6feddba8', 'cmd': 'ACK'}
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:36,197 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:41,207 ; tunnel process unexpectedly exited with returncode 255
hardshare.api (DEBUG) (pid: 16225); 2018-08-26 20:51:45,031 ; WebSocket: received {"mi": "943c4ab3-4533-4bec-b615-e5c974b163f6", "v": 0, "cmd": "INSTANCE_DESTROY", "id": "2eec62cc-f94f-4308-9374-aba09cdb48c8"}
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:46,424 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:51,429 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:51:56,439 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:01,449 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:06,458 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:11,465 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:16,474 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:21,480 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:26,491 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:31,498 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:36,506 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:41,517 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:46,526 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:51,535 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:52:56,545 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:01,555 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:06,567 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:11,576 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:16,586 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:21,594 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:26,606 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:31,613 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:36,620 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:41,631 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:46,641 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:51,651 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:53,052 ; tunnel process unexpectedly exited with returncode 0
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:53:58,060 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:03,067 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:08,071 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:13,079 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:18,088 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:21,674 ; tunnel process unexpectedly exited with returncode 0
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:23,097 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:28,106 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:33,114 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:38,121 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:43,127 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:48,135 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:51,697 ; tunnel process unexpectedly exited with returncode 0
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:54:56,704 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 16225); 2018-08-26 20:55:01,714 ; tunnel process unexpectedly exited with returncode 255
hardshare.api (DEBUG) (pid: 29243); 2018-08-26 21:47:19,345 ; entered run_sync()
hardshare.api (DEBUG) (pid: 29243); 2018-08-26 21:47:19,345 ; started async run()
hardshare.api (DEBUG) (pid: 29243); 2018-08-26 21:47:33,443 ; WebSocket: received {"mi": "b4bae369-6cb0-48bb-bec6-2ff1a8bcacac", "v": 0, "cmd": "INSTANCE_LAUNCH", "ct": "sshtun", "pr": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCu6zHUtJRFHgoIH7Er1vF33r43pyHQAGNnUxIZoX6T5Lh50kfZmQVaV1c7cBvqR6RQz2f4FnK7rJHO9AGJ1LP5TmuwGbw2Ni+siDCmG1CUseLcB1IGvpDJHcJhfAFIxlc+RJXniNZ1TDUSVxrSWHFOpnQ4iieGLPa/hOVxUQJMIoIXSyGqEw6o9CKsnSuIL2iB01g8H1xF4v+qB63+n6NnWLfg1+O55DJEuXO1ah9qhA2nM1WxrZEhNyhBr4KP02pTadABPv3jSZFe0Hg8xMtvq9pbSos4Oee9+utJ+/lXhVMFSjQSlWDgMkp7CeDCBr9sXsB0efSI7tR/pRIVY4B5 rra@apiw\n", "id": "8fb58a09-dc5f-42c0-93b4-623e15aa0314"}
hardshare.api (DEBUG) (pid: 29243); 2018-08-26 21:47:33,443 ; in response to INSTANCE_LAUNCH, sending ACK
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:33,445 ; subprocess: ['docker', 'run', '-d', '-h', 'rrc', '--name', 'rrc', '--device=/dev/net/tun:/dev/net/tun', '--cap-add=NET_ADMIN', 'hs.rerobots.net/generic:latest']
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:35,583 ; attempting to get IPv4 address of container... (entered get_container_addr())
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:35,612 ; found address: 172.17.0.2
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:35,613 ; attempting to get hostkey from container... (entered get_container_hostkey())
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:36,750 ; found hostkey!
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:36,751 ; subprocess: ['docker', 'exec', 'rrc', '/bin/bash', '-c', 'rm /etc/ssh/ssh_host_*']
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:36,820 ; subprocess: ['docker', 'exec', 'rrc', '/usr/bin/ssh-keygen', '-A']
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:37,069 ; subprocess: ['docker', 'exec', 'rrc', '/bin/mkdir', '-p', '/root/.ssh']
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:37,127 ; subprocess: ['docker', 'cp', '/tmp/tmpg8_ge4wz', 'rrc:/root/.ssh/authorized_keys']
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:37,261 ; subprocess: ['docker', 'exec', 'rrc', '/bin/chown', '0:0', '/root/.ssh/authorized_keys']
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:37,312 ; attempting to associate with a tunnel hub
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:37,312 ; sending TH_SEARCH
hardshare.api (DEBUG) (pid: 29243); 2018-08-26 21:47:45,349 ; WebSocket: received {"mi": null, "v": 0, "hostkey": "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKX0xcf6V1Si3yllfVUm7MzmdoNGMMEMOUSxOXR3IQYIzZVpbfNkVbOGhn2w8/Yh4xkyhgFNDbTZxNFItaU9jGw=", "cmd": "TH_ACCEPT", "ipv4": "10.50.238.87", "port": 2210, "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "thport": 3210, "id": "8fb58a09-dc5f-42c0-93b4-623e15aa0314", "thuser": "root"}
hardshare.core (DEBUG) (pid: 29243); 2018-08-26 21:47:45,349 ; received TH_ACCEPT for th 09fe8097-dd22-4dd5-9910-7067991bab50 at 10.50.238.87
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:45,350 ; associated with tunnel hub 09fe8097-dd22-4dd5-9910-7067991bab50
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:45,350 ; opening ssh tunnel from port 2210 of 10.50.238.87 to container at 172.17.0.2
hardshare.core (INFO) (pid: 29243); 2018-08-26 21:47:45,354 ; marked instance as READY
hardshare.api (DEBUG) (pid: 29243); 2018-08-26 21:47:58,905 ; WebSocket: received {"mi": "a6bda4c3-3b6b-45f5-bcfa-deb3f44d0c7a", "v": 0, "cmd": "INSTANCE_DESTROY", "id": "8fb58a09-dc5f-42c0-93b4-623e15aa0314"}
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:01:29,850 ; entered run_sync()
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:01:29,851 ; started async run()
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:02:14,950 ; WebSocket: received {"mi": "d9ee1437-104d-4933-bfb1-e07a06b7df73", "v": 0, "cmd": "INSTANCE_LAUNCH", "ct": "sshtun", "pr": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCyyNIxfHzU6Llrq08pYLxwCu1vtwy3C9W/AN1OpQnMTJV8rLhmBHNtjrM96bjbNWZ3PL80zVWQTEcgFo8uuFt5ecsFEfK77CK9OTUWbVJor7g8JSkS4z6WoKK2NKtoRQzaS+OU9AGBeMgDqResek2/aCBVoPLBP80hX4sJv5ju2nyy2TKUyE5ViKs1tdaoMFYMdBu1Nkjv9Ca/i36jzBl+oSCYr5+d0WJyfPHbCBbzkdhw7BxYvn2FsxhmcIo8rWTYzV8ADvJJu+eWQLkYESk45OYiJLBSzYvOPWkp0bdYQJtDuh7HGzhE331XxZad+09l6RVjM6dmB5Z4V3NsCmSd rra@apiw\n", "id": "0fa97a38-330b-42a9-9b9a-49cf417f7566"}
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:02:14,951 ; in response to INSTANCE_LAUNCH, sending ACK
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:14,952 ; subprocess: ['docker', 'run', '-d', '-h', 'rrc', '--name', 'rrc', '--device=/dev/net/tun:/dev/net/tun', '--cap-add=NET_ADMIN', 'hs.rerobots.net/generic:latest']
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:17,101 ; attempting to get IPv4 address of container... (entered get_container_addr())
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:17,123 ; found address: 172.17.0.2
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:17,124 ; attempting to get hostkey from container... (entered get_container_hostkey())
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:18,226 ; found hostkey!
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:18,226 ; subprocess: ['docker', 'exec', 'rrc', '/bin/bash', '-c', 'rm /etc/ssh/ssh_host_*']
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:18,320 ; subprocess: ['docker', 'exec', 'rrc', '/usr/bin/ssh-keygen', '-A']
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:18,529 ; subprocess: ['docker', 'exec', 'rrc', '/bin/mkdir', '-p', '/root/.ssh']
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:18,590 ; subprocess: ['docker', 'cp', '/tmp/tmpb3t_d21x', 'rrc:/root/.ssh/authorized_keys']
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:18,744 ; subprocess: ['docker', 'exec', 'rrc', '/bin/chown', '0:0', '/root/.ssh/authorized_keys']
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:18,796 ; attempting to associate with a tunnel hub
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:18,796 ; sending TH_SEARCH
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:02:26,813 ; WebSocket: received {"mi": null, "v": 0, "hostkey": "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKX0xcf6V1Si3yllfVUm7MzmdoNGMMEMOUSxOXR3IQYIzZVpbfNkVbOGhn2w8/Yh4xkyhgFNDbTZxNFItaU9jGw=", "cmd": "TH_ACCEPT", "ipv4": "10.50.238.87", "port": 2210, "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "thport": 3210, "id": "0fa97a38-330b-42a9-9b9a-49cf417f7566", "thuser": "root"}
hardshare.core (DEBUG) (pid: 32118); 2018-08-26 22:02:26,813 ; received TH_ACCEPT for th 09fe8097-dd22-4dd5-9910-7067991bab50 at 10.50.238.87
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:26,813 ; associated with tunnel hub 09fe8097-dd22-4dd5-9910-7067991bab50
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:26,813 ; opening ssh tunnel from port 2210 of 10.50.238.87 to container at 172.17.0.2
hardshare.core (INFO) (pid: 32118); 2018-08-26 22:02:26,817 ; marked instance as READY
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:03:48,685 ; WebSocket: received {"mi": "7f25fdd0-4f5e-4a6b-adb5-e04d06e864c0", "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "v": 0, "cmd": "TH_PING", "id": "01083923-ea7d-4336-8e04-6223150405d6"}
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:03:48,686 ; WebSocket: sent response: {'v': 0, 'thid': '09fe8097-dd22-4dd5-9910-7067991bab50', 'id': '01083923-ea7d-4336-8e04-6223150405d6', 'mi': '7f25fdd0-4f5e-4a6b-adb5-e04d06e864c0', 'cmd': 'ACK'}
hardshare.api (DEBUG) (pid: 32118); 2018-08-26 22:05:17,309 ; WebSocket: received {"mi": "0e444f2c-5854-4b68-b18c-64a5b10f0b88", "v": 0, "cmd": "INSTANCE_DESTROY", "id": "0fa97a38-330b-42a9-9b9a-49cf417f7566"}
hardshare.core (WARNING) (pid: 32118); 2018-08-26 22:08:52,083 ; tunnel process unexpectedly exited with returncode 255
hardshare.core (WARNING) (pid: 32118); 2018-08-26 22:11:07,188 ; tunnel process unexpectedly exited with returncode 255
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:12:16,163 ; entered run_sync()
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:12:16,163 ; started async run()
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:12:29,784 ; WebSocket: received {"mi": "f3153163-4e9d-4357-ac1a-18a9c7a9c832", "v": 0, "cmd": "INSTANCE_LAUNCH", "ct": "sshtun", "pr": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIGQn0NEpol/jLaFQJnSdvLOJKZdSyvVfzf5E6hvoivak889IZM6NQqxYgk+sh8jUVwoJvKpFA0DswuynE7yM0Ut9qHI6GwE+E/LqjR8x0h3cSAd/kWN+5vhGAiyGSN3NAjXyPlc4N7SXZ0SN4Cg+xc+/qHwJmaCULXJwTiW/K3swd0qRRvhWrzWhRw2D101OZtt0WEr4pIWVkYGKWx61XPsEaKML0QOna3HMPG2Z8vceaMGBCXJ57OWM3P85cewyngZRrEoePh8cTMXsfVmJfqzkmWJeG8V2FrJ4fjO28jR2LQK+mYj6gs7DESktjV/Hhcwn2gVZ7wwnvh5Dlm+3d rra@apiw\n", "id": "1fd4ef22-e30f-4ebb-b0ba-7498389e3a1d"}
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:12:29,784 ; in response to INSTANCE_LAUNCH, sending ACK
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:29,785 ; subprocess: ['docker', 'run', '-d', '-h', 'rrc', '--name', 'rrc', '--device=/dev/net/tun:/dev/net/tun', '--cap-add=NET_ADMIN', 'hs.rerobots.net/generic:latest']
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:31,967 ; attempting to get IPv4 address of container... (entered get_container_addr())
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:31,988 ; found address: 172.17.0.2
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:31,988 ; attempting to get hostkey from container... (entered get_container_hostkey())
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:33,117 ; found hostkey!
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:33,118 ; subprocess: ['docker', 'exec', 'rrc', '/bin/bash', '-c', 'rm /etc/ssh/ssh_host_*']
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:33,177 ; subprocess: ['docker', 'exec', 'rrc', '/usr/bin/ssh-keygen', '-A']
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:33,362 ; subprocess: ['docker', 'exec', 'rrc', '/bin/mkdir', '-p', '/root/.ssh']
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:33,426 ; subprocess: ['docker', 'cp', '/tmp/tmpmmikp982', 'rrc:/root/.ssh/authorized_keys']
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:33,579 ; subprocess: ['docker', 'exec', 'rrc', '/bin/chown', '0:0', '/root/.ssh/authorized_keys']
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:33,646 ; attempting to associate with a tunnel hub
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:33,646 ; sending TH_SEARCH
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:12:40,666 ; WebSocket: received {"mi": null, "v": 0, "hostkey": "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKX0xcf6V1Si3yllfVUm7MzmdoNGMMEMOUSxOXR3IQYIzZVpbfNkVbOGhn2w8/Yh4xkyhgFNDbTZxNFItaU9jGw=", "cmd": "TH_ACCEPT", "ipv4": "10.50.238.87", "port": 2210, "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "thport": 3210, "id": "1fd4ef22-e30f-4ebb-b0ba-7498389e3a1d", "thuser": "root"}
hardshare.core (DEBUG) (pid: 2394); 2018-08-26 22:12:40,666 ; received TH_ACCEPT for th 09fe8097-dd22-4dd5-9910-7067991bab50 at 10.50.238.87
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:40,667 ; associated with tunnel hub 09fe8097-dd22-4dd5-9910-7067991bab50
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:40,667 ; opening ssh tunnel from port 2210 of 10.50.238.87 to container at 172.17.0.2
hardshare.core (INFO) (pid: 2394); 2018-08-26 22:12:40,670 ; marked instance as READY
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:14:39,434 ; WebSocket: received {"mi": "f8372a40-8abf-4e11-b954-83ca8896c265", "thid": "09fe8097-dd22-4dd5-9910-7067991bab50", "v": 0, "cmd": "TH_PING", "id": "01083923-ea7d-4336-8e04-6223150405d6"}
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:14:39,434 ; WebSocket: sent response: {'v': 0, 'thid': '09fe8097-dd22-4dd5-9910-7067991bab50', 'id': '01083923-ea7d-4336-8e04-6223150405d6', 'mi': 'f8372a40-8abf-4e11-b954-83ca8896c265', 'cmd': 'ACK'}
hardshare.api (DEBUG) (pid: 2394); 2018-08-26 22:15:13,973 ; WebSocket: received {"mi": "1401059e-20bc-4976-a877-e86d2a4f2354", "v": 0, "cmd": "INSTANCE_DESTROY", "id": "1fd4ef22-e30f-4ebb-b0ba-7498389e3a1d"}
