language: rust
rust:
  - stable
  - nightly
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
cache: cargo

before_install:
  - mkdir keys
  - openssl genpkey -algorithm RSA -out keys/testing-secret.pem && openssl pkey -in keys/testing-secret.pem -pubout -out keys/webui-public.pem

script:
    - cargo clippy --tests -- -D clippy::all
    - cargo build --verbose
    - cargo test --verbose

notifications:
  email:
    recipients:
      - scott@rerobots.net
    on_success: change
    on_failure: always
